[Unit]
Description=Discord Notification Service
After=network.target

[Service]
# make sure the shell script is executable (chmod +x $1)
# and it begins with a shebang (#!/bin/bash)
User=moonstorm
WorkingDirectory=/var/local/bots/notificationbot
ExecStart=/var/local/bots/notificationbot/daemon.sh

# In case if it gets stopped, restart it immediately
Restart=always

# With notify Type, service manager will be notified
# when the starting up has finished
Type=notify

# Since Type is notify, notify only service updates
# sent from the main process of the service
NotifyAccess=main

[Install]
# multi-user.target corresponds to run level 3
# roughtly meaning wanted by system start
WantedBy = multi-user.target
